<a href="https://colab.research.google.com/github/pragmatizt/coffee_challenges/blob/master/Classes_and_objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Classes and Objects
A quick follow along of Socratica's Classes and Objects tutorial.

Link [here](https://www.youtube.com/watch?v=apACNr7DC_s&list=PLi01XoE8jYohWFPpC17Z-wWhPOSuh8Er-&index=24&t=0s)

In [0]:
import datetime
# will use this for example later

In [0]:
class User:
  pass

# pass is a way to pass in a class that does nothing
# when defining a class, you need at least one line

In [2]:
user1 = User()
user1.first_name = "Dave"
user1.last_name = "Bowman"

print(user1.first_name)
# user1 is an "instance" of User
# user1 is also an object

Dave

In [3]:
print(user1.last_name)

Bowman

In [4]:
# let's create standalone variables not attached to a user object
first_name = "Arthur"
last_name = "Clarke"

print(first_name, last_name)

Arthur Clarke

In [5]:
# Even though we use the same variable names, the values are kept separate
# with classes, there's no limit to the number of objects we can make.
print(user1.first_name, user1.last_name)

Dave Bowman

In [6]:
user2 = User()
user2.first_name = "Frank"
user2.last_name = "Poole"

print(first_name, last_name)
# notice it's still Arthur Clarke

Arthur Clarke

In [7]:
print(user1.first_name, user1.last_name)

Dave Bowman

In [8]:
print(user2.first_name, user2.last_name)

Frank Poole

# Let's add a layer of complexity

In [9]:
user1.age = 37
user2.favorite_book = "2001: A Space Odyssey"

print(user1.age)

37

In [0]:
# look what happens when we try to print age of user2
#print(user2.age)
# you get an error.

## Why go through problems of OOP...
 when we could just as easily stored data in a dictionary?

Class Features allow us to transcend dictionary limitations:


*   Methods
*   Initialization
*   Help Text

In [20]:
class User:
  """A member of FriednFace. For now we are only storing their name and 
  birthday. But soon we will store an uncomfortable amount of user 
  information.""" 

  def __init__(self, full_name, birthday):
    self.name = full_name
    self.birthday = birthday

    # Extract first and last names
    name_pieces = full_name.split(" ")
    self.first_name = name_pieces[0]
    self.last_name = name_pieces[-1]

  def age(self):
    """Return the age of the user in years."""
    today = datetime.date(2001, 5, 12)
    yyyy = int(self.birthday[0:4])
    mm = int(self.birthday[4:6])
    dd = int(self.birthday[6:8])
    dob = datetime.date(yyyy, mm, dd) # Date of birth
    age_in_days = (today - dob).days  # this is a time delta object
    age_in_years = age_in_days / 365
    return int(age_in_years)

"""
after the self. is the field.  know to separate value from field
"""

'\nafter the self. is the field.  know to separate value from field\n'

In [0]:
# Just testing along:
user = User("Dave Bowman", "19710315")

In [24]:
print(user.age())

# notice we don't type "self" when calling the age method, the self

30

In [13]:
print(user.name)
print(user.birthday)

Dave Bowman
19710315